{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}|La ligne bleue
{% endblock %}


{% block body %}

	<h1 class="h1Page">
		{{ page.title }}
	</h1>

	<p class="pPage">
		{{ page.content }}
	</p>

{% endblock %}
