<nav class="mobilenav">
	<div class="container">
		<div class="d-flex flex-row justify-content-center">
					<a class="homeIcone" aria-current="page" href="#"><img class="w-25" src="{{ asset('build/images/home.png') }}" alt="Home"></a>
					<a class="favoriteIcone" href="#"><img class="w-25" src="{{ asset('build/images/star.png') }}" alt="Favorite"></a>
					<a class="tutoIcone" href="#"><img class="w-25" src="{{ asset('build/images/carres.png') }}" alt="Tuto"></a>
		</div>
	</div>
</nav>
