{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block nav %}
	{% include "landing/_landingnav.html.twig" %}
{% endblock %}

{% block body %}
	<h1>Bienvenue dans votre espace personnel
		<br>
		Quelle catégorie souhaitez-vous ?
	</h1>
	<div class="container">
		<div class="blocContainer">
			{% for category in categories %}
				<a class="blockItems" href="{{path('category_level_show', {'slug': category.slug})}}">
					<div>
						<div>
							<h3>{{category.label}}</h3>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
