{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block nav %}
	{% include "landing/_landingnav.html.twig" %}
{% endblock %}

{% block body %}
	<h1>Bienvenue dans votre espace personnel
		<br>
		Quelle catégorie souhaitez-vous ?
	</h1>
	<div class="blocContainer">
		{% for category in categories %}
			<div class="blockItems">
				<h3>{{category.label}}</h3>
            </div>
            {% endfor %}
	</div>
			{# <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
					<h5 class="card-title">{{category.label}}</h5>
				</div> #}

		{% endblock %}
