{% extends 'base.html.twig' %}

{% block title %}Tutoriel{% endblock %}

{% block body %}
    <h1>Tutoriel {{tutoriel.title}}</h1>

    <p>{{ tutoriel.content }}</p>

    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_tutoriel_edit', {'id': tutoriel.id}) }}">Éditer le tutoriel</a>
    <a href="{{ path('app_tutoriel_delete', {'id': tutoriel.id}) }}">Supprimer le tutoriel</a>
    {% endif %}
{% endblock %}
