{% extends 'base.html.twig' %}

{% block title %}Interface Admin{% endblock %}

{% block body %}

<h1>Panneau d'administration des contenus</h1>

 <table class="table">
        <thead>
            <tr>
                <th>Fonctionnalité</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Categories</td>
                <td>Administer les catégories des tutoriels disponibles</td>
                <td>
                    <a href="{{ path('admin_app_category_index') }}">Administer</a>
                </td>
            </tr>
            <tr>
                <td>Fiches Tutoriel</td>
                <td>Administer les fiches tutoriels</td>
                <td>
                    <a href="{{ path('app_tutoriel_index') }}">Administer</a>
                </td>
            </tr>
            <tr>
                <td>Quizz</td>
                <td>Administer les quizz présents dans les fiches tutoriel</td>
                <td>
                    <a href="#">Administer</a>
                </td>
            </tr>
            <tr>
                <td>Commentaires</td>
                <td>Gestion des commentaires envoyés par les utilisateurs</td>
                <td>
                    <a href="#">Administer</a>
                </td>
            </tr>
            <tr>
                <td>Tickets</td>
                <td>Gestions des tickets de bugs repportés par les utilisateurs</td>
                <td>
                    <a href="{{ path('admin_app_ticket_index') }}">Administer</a>
                </td>
            </tr>
            <tr>
                <td>Utilisateurs</td>
                <td>Gestions des utilisateurs</td>
                <td>
                    <a href="{{ path('app_user_index') }}">Administer</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
