{% extends 'base.html.twig' %}

{% block title %}Edit Ticket
{% endblock %}

{% block body %}
	<a class="siteButton" href="{{ path('admin_app_ticket_index') }}" title="retour">Retour à la liste des tickets</a>
	<div class="marginPage">
		<h1>Éditer le ticket</h1>
		<div class="blocEdit">
			{{ include('ticket/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
			<div class="mt-3">
				{{ include('ticket/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
