{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<a class="siteButton" href="{{ path('admin_app_category_index') }}" title="retour">Retour à la liste des catégories</a>
	<div class="marginPage">
		<h1>Éditer la categorie</h1>
		{{ include('category/admincategory/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
		<div class="mt-3">
			{{ include('category/admincategory/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
