.blocContainer {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(181px, 1fr));
    grid-template-rows: repeat(2, 10rem);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    margin-top: 5rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.blockItems {
    background-color: var(--color-blue);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
    width: 100%;
    min-width: 160px;
    min-height: 160px;
    text-align: center;
}

.blockItems:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.categorySvg {
 height: 54px;
 min-width: 54px;
}

.categoryTitle {
    color: var(--color-yellow);
    margin: 0;
}

@media screen and (max-width: 600px) {
    .blocContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
