.blocContainer {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(181px, 1fr));
    grid-template-rows: repeat(2, 10rem);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    margin-top: 5rem;
}

.blockItems {
    background-color: #ffe482;
    border-radius: 5px;
    width: 100%;
    min-width: 160px;
    min-height: 160px;
    text-align: center;
}



h1 {
    text-align: center;
    margin-top: 2rem;
}

h3 {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .blocContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

h3 {
    color: black;
}
