footer {
    padding:0;
    background-color:rgba(255, 255, 255, 0);
    color:#4b4c4d;
    border-top: 1px solid #ccc;
    width: 100vw;
    font-size: small;
    margin-top: auto;
    @include media-breakpoint-down(lg) {
      padding-bottom: 100px;
    }
  }

  .aFooter {
    text-align:center;
    color:inherit;
    opacity:0.75;
    margin: 1rem;
  }

  .aFooter:hover {
    opacity:0.9;
  }
 
  .bugSignal {
    color: var(--color-blue);
    text-decoration: none;
    background-color: var(--color-yellow);
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    text-size-adjust: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 1rem;
    border: none;
  }
    .bugSignal:hover {
      color: white;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }

 @media screen and (max-width: 660px) {
  .aFooter {
    line-height: normal;
    font-size: x-small;
  }
 }
