.landingnav {
    background-color: #003da5;
    text-decoration: none;
    color: white;
    height: 4rem;
}

.createspace {
    background-color: #c2c8fc;
    color: black;
    border-color: #c2c8fc;

}

.createspace:hover {
    background-color: #c2c8fc;
    border-color: #c2c8fc;

}
