.mainnav {
    background-color: #003da5;
    text-decoration: white;
}

.nav-link {
    color: white;
}


.nav-link:hover {
    color: white;
    filter: drop-shadow(0 0 0.75rem white);
}

.logonavbar {
    color: white;
}

.logonavbar:hover {
    color: #FFC905;
}

@media screen and (max-width: 600px) {
    .main nav {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .logonavbar {
        display: none;
    }
}