.mainnav {
    background-color: #003da5;
    margin: 0;
    width: 100% ;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    filter: drop-shadow(0 0 0.75rem white);
}

.logonavbar {
    color: white;
}

.logonavbar:hover {
    color: #FFC905;
}


.navbar-toggler-icon{
    color: #FFC905;
}
@media screen and (max-width: 600px) {
    .threeicons {
        display: none;
    }
    .userIcone, .signOutIcone {
        width: 25%;
    }
    .mobilenav {
        position: fixed;
        bottom: 0vh;
        width: 100%;
    }
}

@media screen and (min-width: 601px) {

    .mobilenav {
        display: none;
    }
}