.mainnav {
    background-color: #003da5;
    margin: 0;
    width: 100%;
}

.nav-item {
    list-style: none;
    text-decoration: none;
    margin-left: 10%;
}

.nav-link {
    color: white;
    list-style: none;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    filter: drop-shadow(0 0 0.75rem white);
}

.logonavbar {
    color: white;
}

.logonavbar:hover {
    color: #FFC905;
}

.connexion {
    color: #003da5;
    text-decoration: none;
    background-color: #FFC905;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    width: auto;
    height: auto;
    text-size-adjust: auto;
}

.connexion:hover {
    background-color: white;
}


@media screen and (max-width: 600px) {

    .logonavbar {
        display: none;
    }

    .connexion {
        font-size: smaller;
    }

}

@media screen and (min-width: 601px) {}
