// page level
.accordion-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.accordion-button {
    background-color: var(--color-blue);
    color: var(--color-yellow);
}

.accordion-button::before {
    background-color: var(--color-blue);
    color: var(--color-yellow);
}

.card {
    background-color: $yellowLight;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

// page tutoriel
.textTuto {
    margin-top: 2rem;
}

.svgCheckOrNot {
    width: 64px;
}
.marginTuto {
    margin-left: 13rem;
    margin-right: 13rem;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .marginTuto {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media screen and (max-width: 700px) {
        .marginTuto {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
