{% extends 'base.html.twig' %}

{% block title %}Edit Tutoriel{% endblock %}

{% block body %}
    <h1>Éditer le tutoriel</h1>

    {{ include('tutoriel/admintutoriel/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_tutoriel_index') }}">Retour à la liste des tutoriels</a>

    {{ include('tutoriel/admintutoriel/_delete_form.html.twig') }}
{% endblock %}
