{% extends 'base.html.twig' %}

{% block title %}New Tutoriel
{% endblock %}

{% block body %}
	<h1>Créer un nouveau tutoriel</h1>

	{{ component('tutoriel_form', {
				tutoriel: tutoriel,
			}) }}

	<a href="{{ path('app_tutoriel_index') }}">
		> Retour à la liste des tutoriels</a>
{% endblock %}
