{% extends 'base.html.twig' %}

{% block title %}New Tutoriel{% endblock %}

{% block body %}
    <h1>Créer un nouveau tutoriel</h1>

    {{ include('tutoriel/admintutoriel/_form.html.twig') }}

    <a href="{{ path('app_tutoriel_index') }}"> <button> Retour à la liste des tutoriels</button></a>
{% endblock %}
