{% extends "base.html.twig" %}


{% block body %}

	<h1>Bienvenue sur La Ligne Bleue</h1>
    <br>
    <p class="pLanding">Une application entièrement consacrée à vous aider dans l'utilisation de votre smartphone.</p>
    <p class="pLandingSecond">Pour commencer cliquez sur "Se connecter" et suivez les indications.</p>
{# 	<div class="containerButtonCentered">
		<a class="siteButton" href="{{ path('app_category_index') }}">Aller à la page d'acceuil</a>
	</div> #}

{% endblock %}
