{% extends "base.html.twig" %}

{% block nav %}
	{% include "landing/_landingnav.html.twig" %}
{% endblock %}



{% block body %}


<h1>Landing page in progress...</h1>

<a href="{{ path('app_category_index') }}"> <button> Aller à la page d'acceuil</button></a>

{% endblock %}
