{% extends "base.html.twig" %}

{% block nav %}
	{% include "landing/_landingnav.html.twig" %}
{% endblock %}

{% block body %}
	<div class="d-block pink-stripe-not-height">

		<h1 class="mt-5">
			Bienvenue sur Ligne bleue
		</h1>
		<h2 class="mt-4 fst-italic">
			+100 tutos pour devenir autonome sur son smartphone et son ordinateur
		</h2>
	</div>

	<div class="d-flex flex-row justify-content-center">
		<button type="button" class="createspace btn btn-primary fs-2 mt-5">Créer son espace personnel</button>
	</div>

	<div>
		<h3 class="mt-4 mb-4 fs-2 fst-italic d-flex flex-row justify-content-center">ou</h3>
	</div>

{# <div>
	<form class="mt-4 mb-4 fs-2x-row justify-content-center">
    </form>
</div> #}


{% endblock %}
