{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<a class="siteButton" href="{{ path('app_user_index') }}" title="retour">Retour à la liste</a>
	<div class="marginPage">
		<h1>Edition de l'utilisateur</h1>
		{{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
		<div class="mt-3">
			{{ include('user/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
