{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<a class="siteButton" href="{{ path('app_user_index') }}" title="retour">back to list</a>
	<div class="marginPage">
		<h1>Create new User</h1>
		<div class="blocEdit">
			{{ include('user/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
